@media (max-width: 1000px) {
  .FeatProj, .FeatJob, .ContactMe{
    flex: 100%;
  }
}
@media (max-width: 700px) {
  .AboutMe{
    order: 1;
    flex: 100%
  }
  .App-logo{
    order: 2;
    flex: 20%;

  }
  .FeatProj{
    order: 3;
  } .FeatJob{
    order: 4;
  } .ContactMe{
    order: 5}
    .Facts{
      order: 6}
      .made{
        order: 7
      }
}
.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
   .App-title{
    line-height: .25;
  }
  .App-logo {
    padding: 20px;
    padding-bottom: 0px;
    width: 20%
  }
  
  .App-header {
    background-color: #0c2036;
    height:200px;
    padding: 20px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  }

  
  .App-intro {
    font-size: large;
  }
  
  .codingLang{
  background-color: #6499da;
    text-align: left;
    padding-left:40%;
    
  }
  
.codingLang body {
  display: flex;
  flex-direction: column;
}
.codingLang h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  /* text-transform: uppercase;
  white-space: nowrap; */
  overflow: hidden;
  position: relative;
  width: 100%;
}


.span{
  text-align: center;
}

.message {
  background-color: rgba(255, 255, 0, 0.618);
  color: #333;
  display: inline;
  text-align: center;
  /* font-weight: 900; */
  overflow: hidden;
  position: absolute;
  width:100%;
  /* padding-left: 0.5rem;
  top: 0.2rem;
  left: 450px; */
  animation: openclose 50s ease-in-out infinite;
}

* .word {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    width: 0;
  }
  5% {
    width: 0;
  }

  7% {
    width: 285px;
  }
  12% {
    top: 0.2rem;
    width: 285px;
  }
  15% {
    top: 0.2rem;
    width: 0;
  }
 17% {
    top: 0.2rem;
    width: 0;
  }

  20% {
    top: -4.5rem;
  }
  25% {
    top: -4.5rem;
    width: 285px;
  }
  28% {
    top: -4.5rem;
    width: 285px;
  }
  30% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  33% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  38% {
    top: -9rem;
    width: 285px;
  }
  41% {
    top: -9rem;
    width: 285px;
  }
  43% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  46% {
    top: -13.5rem;
    width: 0;
    text-indent: 5px;
  }
  51% {
    top: -13.5rem;
    width: 285px;
  }
  54% {
    top: -13.5rem;
    width: 285px;
  }
  56% {
    top: -13.5rem;
    width: 0;
    text-indent: 5px;
  }

  59% {
    top: -18rem;
    width: 0;
    text-indent: 5px;
  }
  64% {
    top: -18rem;
    width: 285px;
  }
  67% {
    top: -18rem;
    width: 285px;
  }
  69% {
    top: -18rem;
    width: 0;
    text-indent: 5px;
  }

  72% {
    top: -22.5rem;
  }
  77% {
    top: -22.5rem;
    width: 285px;
  }
  80% {
    top: -22.5rem;
    width: 285px;
  }
  82% {
    top: -22.5rem;
    width: 0;
    text-indent: 0;
  }

  85% {
    top: -27rem;
  }
  90% {
    top: -27rem;
    width: 285px;
  }
  93% {
    top: -27rem;
    width: 285px;
  }
  95% {
    top: -27rem;
    width: 0;
    text-indent: 0;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.MainBody {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
}

.AboutMe {
  background-color: #226ec0;
  margin:20px;
  height:fit-content;
  padding: 20px;
  width: 60%;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
}


.FeatProj, .FeatJob {
  background-color: #0658b0;
  margin:20px;
  padding: 10px;
  width: 25%; 
  align-items: center;
  text-align: center; 
  justify-content: center;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  /* height:30% */
  
}

.Facts{
  background-color: #226ec0;
  padding: 10px;
  margin:20px;
  width: 100%; 
  height:fit-content;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
}


.ContactMe{
  background-color: #6499da;
  padding: 10px;
  text-align: center;
  width: 30%;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  
}


input[type="radio"] {
  position: absolute;
  width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  .container label{
    display:block;
    width:20%;
    border: 4px solid white;
    position:absolute;
    bottom:5px;
    transition: border-color 0.3s linear;
  }
  
  label.second{
    left:34%;
  }
  label.third{
    left:68%;
  }
  
  blockquote{
    margin:02;
    padding:30px;
    background-color: #6ce3ed;
    color: #0c2036;
    box-shadow: 0 5px 2px rgba(0,0,0,0.1);
    transition: background-color 0.6s linear ;
  }
  
  .two blockquote:after{
    border: solid transparent; 
    border-top-color: purple;
    border-left-color:purple;
    border-width: 10px;
  }
  
  .three blockquote:after{
    border: solid transparent; 
    border-top-color: #54885F;
    border-left-color: #54885F;
    border-width: 10px;
  }
  .quotes{
    position:absolute;
    align-items: center;
    color:rgba(255,255,255,0.5);
    font-size:5em;
  }

  img{
    float:left;
    margin-right: 20px;
  }
  .slide{
    position:absolute;
    margin:auto;
    left:-100%;
    opacity:0;
    transition: all 0.6s ease-in;
  }
  
  #first:checked ~ label.first {
    border-width:6px;
    border-color:#DB532B;
  }
  #second:checked ~ label.second {
    border-width:6px; border-color:purple;
  }
  #third:checked ~ label.third {
    border:6px solid #54885F;
  }
  
  #first:checked ~ div.one {
    left:0;
    opacity:1;
  }
  #second:checked ~ div.two {
    left:0;
    opacity:1;
  }
  #third:checked ~ div.three {
    left:0;
    opacity:1;
  }

  a{
    color:#ccc;
  }
  .container{
    width:500px;
    min-height:315px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
  }
  .Factbox{
    display: flex;
    direction: column;
  }
  .slide h3{
    line-height: .25;
  }
  input{
    width: 50%
  }
  textarea{
    width: 75%
  }

  .made{
    margin:20px;
    background-color: #0c2036;
    height:fit-content;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  }
  
 
  
 