/* CSS style  */

/* outermost box -  the root box of the whole page */
#root{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap ;
  /* justify-content: space-around; */
  height: 100%;
  text-align: center;
  background-color: antiquewhite;
}

/* general style for divs  */
div{
  display:inline-block;
  align-items: center;
  align-content: center;
}



/* styling for the box containing left side text (name) box */
#text{
  text-align: center;
  width:90%;
  height: 175px;
}






/* styling for the text in each of the circles - class name is App */
.App {
  font-family:"Lucida Console", monospace;
  text-align: center;
  color: rgb(0, 0, 0);
  padding: 40px;
  box-sizing: border-box;
}


/* general/ default style for each of the circles themselves
the border-radius property is what makes the boxes circular 
the opacity < 1 makes them slightly opaque
the z-index means that they are the third layer (1 being the bottom)
*/
.animated-section {
  width: 650px;
  height: 650px;
  border-radius: 1000px; 
  opacity: 0.5;
  z-index:3;
  align-items: center;
  justify-content: center;
}


/* styling for the top, largest circle itself*/
#top1{
  top:25px;
  align-items: center;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
  width: 800px;
  height: 800px;
  padding: 40px;
  padding-top: 10px;
  position:relative;
}


/* styling for the About Me text section within the top circle
the About Me section is the "top 5 things" 
*/
.AboutMe h2{
  text-align: center;
}
.AboutMe h5{
  text-align: center;
}


/* styling for the outer box of the second row - the box contains three Project circles */
#threecircles{
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

/* styling for the individual project circle containers in the secont row */
#circle, #three, #four{
  margin:3px;
  align-items: center;
  justify-content: center;
  width: 475px;
  height: 475px;
  position:relative;
  box-sizing: border-box;
}


/* styling for hovering over each of the second row project circles
when hovering, the circles are at full opacity with a dark grey drop-shadow 
each circle also displays a small background emoji at the bottom center  */

/* left circle - heart attack  */
#circle:hover {
  background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/anatomical-heart_1fac0.png");
  background-repeat:no-repeat;
  background-position: bottom center;
  background-size: 25%;
  /* filter: drop-shadow(30px 15px 4px #2a2929); */
}
/* middle cicle - pride flag */
#three:hover {
  background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/325/rainbow-flag_1f3f3-fe0f-200d-1f308.png");
  background-repeat:no-repeat;
  background-position: bottom center;
  background-size: 25%;
  /* filter: drop-shadow(30px 10px 4px  #2a2929); */
}
/* right circle - hace gropper */
#four:hover {
  background-image: url("https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/google/313/woman-technologist_1f469-200d-1f4bb.png");
  background-repeat:no-repeat;
  background-position: bottom center;
  background-size: 25%;
  /* filter: drop-shadow(30px 10px 4px  #2a2929); */
}

/* styling for the third (bottom) row - the thrid row is made up of an outer flex container
the outer container (thridrow) has two sections - 
thrirdrowfeature is the two right hand circles stacked on top of each other and 
anything with venn in the name is part of the venn diagram (made of many flexboxes)*/

/* styling for whole third row, and for the continer that has the top two cirlces of the venn diagram */
#thirdrow, #vennrow{
  display: flex;
  flex-direction: row;
}
#thirdrow{
  margin-bottom: 50px;
  margin-top: 50px;
}

/* styling for the outermost venn diagram container - the container for all three venn circles - 
includes vennrow and bottom circle (ven3)  */
#venndia {
  display:flex;
  flex-direction: column;
  flex-wrap: wrap ;
}

/* styling for the outer box containing the two small right side circles in the third row */
#thirdrowfeature{
  display: flex;
  flex-direction: column;
}

/* styling for the individual thirdrowfeature circles themselves */
#threetwo, #threethree{
  margin:3px;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 350px;
  position:relative;
  margin-left:325px;
}

/* styling for hovering over each of the third row right two circles
when hovering, the circles are at full opacity and a glowing blue ring appears behind them   */
/* #threethree:hover, #threetwo:hover{
  opacity: 1;
  filter:drop-shadow(0 0 0.75rem rgb(12, 98, 237));
} */


/* styling for the individual venn diagram circles themselves */

/* top two circles */
#ven1, #ven2{
  display:fixed;
  margin:-150px;
  align-items: center;
  justify-content: top;
  width: 475px;
  height: 475px;
  position:relative;
  box-sizing: border-box;
  border-radius: 1000px; 
  opacity: 0.5;
  z-index:3;
  text-align: right;
}

/* leftmost circle */
#ven1{
  text-align: left;
}

/* bottom circle */
#ven3{
  width: 475px;
  height: 475px;
  display:fixed;
  margin:-150px;
  border-radius: 1000px; 
  opacity: 0.5;
  z-index:3;
  align-items: left;
  justify-content: left;
}

/* styling for the smallest green circle that is superimposed on the intersection of the venn diagram */
#topofvenn{
  position: relative;
  left:23%;
  width: 200px;
  height: 200px;
  margin-bottom:50px;
  border: 3px solid #73AD21;
  border-radius: 1000px; 
  z-index:5;
  padding: 5px;
  box-sizing: border-box;
}

/* styling for hovering over the smallest superimposed green circlw
when hovering, the text dissapears, and and a picture of my face fills the circle at full opacity*/ 
#topofvenn:hover{
  background-image: url("https://media-exp1.licdn.com/dms/image/C4D03AQH63FGdzrnB0w/profile-displayphoto-shrink_400_400/0/1634231429214?e=1668038400&v=beta&t=ok6ut3AixO-RKGd-LOBMaJpGUq1TpQI5JrnhoHxgvDs");
  background-repeat:no-repeat;
  background-position: center;
  background-size: 100%;
  color:rgba(240, 248, 255, 0);
  opacity:.75
}

/* styling for the small canvas inside the top right third row circle */
canvas{
  width:150px;
  height:150px;
   border: 1px solid black;
}


/* styling for the moving text carousel feature in the top circle (the moving hilighted text) */

/* general text styling for all words - 
whitespace: nowrap property is very important to insure each word stays on its own line 
overflow:hidden ensures only one word is shown at a time*/
.codingLang h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* styling for shown word */
.message {
  background-color: rgba(255, 255, 0, 0.618);
  color: #333;
  display: block;
  margin-left: 20%;
  overflow: hidden;
  position: absolute;
  width:100%;
  animation: openclose 50s ease-in-out infinite;
  text-align: center;
  align-items: center;
  justify-content: center;
}

/* the frame animation for the moving text - the "top" value was calculated using font size + line height, 
and percentages were calculted based on the number of words (11) */
@keyframes openclose {
  0% {
    width: 0;
  }
  5% {
    width: 0;
  }

  7% {
    top: 0.2rem;
    
  }
  12% {
    top: 0.2rem;
    width: 285px;
  }
  15% {
    top: 0.2rem;
    width: 285px;
  }
 17% {
    top: 0.2rem;
    width: 0;
    text-indent: 0;
  }

  20% {
    top: -4.5rem;
  }
  25% {
    top: -4.5rem;
    width: 285px;
  }
  28% {
    top: -4.5rem;
    width: 285px;
  }
  30% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  33% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  38% {
    top: -9rem;
    width: 285px;
  }
  41% {
    top: -9rem;
    width: 285px;
  }
  43% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  46% {
    top: -13.5rem;
    width: 0;
    text-indent: 5px;
  }
  51% {
    top: -13.5rem;
    width: 285px;
  }
  54% {
    top: -13.5rem;
    width: 285px;
  }
  56% {
    top: -13.5rem;
    width: 0;
    text-indent: 5px;
  }

  59% {
    top: -18rem;
    width: 0;
    text-indent: 5px;
  }
  64% {
    top: -18rem;
    width: 285px;
  }
  67% {
    top: -18rem;
    width: 285px;
  }
  69% {
    top: -18rem;
    width: 0;
    text-indent: 5px;
  }

  72% {
    top: -22.5rem;
  }
  77% {
    top: -22.5rem;
    width: 285px;
  }
  80% {
    top: -22.5rem;
    width: 285px;
  }
  82% {
    top: -22.5rem;
    width: 0;
    text-indent: 0;
  }

  85% {
    top: -27rem;
  }
  90% {
    top: -27rem;
    width: 285px;
  }
  93% {
    top: -27rem;
    width: 285px;
  }
  95% {
    top: -27rem;
    width: 0;
    text-indent: 0;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");


.content {
  position: relative;
  white-space: nowrap;
  font-family: "Poppins", sans-serif;
}

.content h2 {
  color: #fff;
  font-size: 8em;
  position: absolute;
  transform: translate(-50%, -50%);
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}

.content h2:nth-child(2) {
  color: #03a9f4;
  animation: animate 4s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    clip-path: polygon(
      0% 45%,
      16% 44%,
      33% 50%,
      54% 60%,
      70% 61%,
      84% 59%,
      100% 52%,
      100% 100%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0% 60%,
      15% 65%,
      34% 66%,
      51% 62%,
      67% 50%,
      84% 45%,
      100% 46%,
      100% 100%,
      0% 100%
    );
  }
}

/* styling for the box containing icons (rightmost) */
#icon{
 align-items: top;
  position:fixed;
  margin-bottom:90%;
  margin-left: 90%;
 padding: 0px;
  width:200px;
}