@media (max-width: 1000px) {
  .FeatProj, .FeatJob, .ContactMe{
    flex: 100%;
  }
}
@media (max-width: 700px) {
  .App-header{
    flex: 100%
  }
  .AboutMe{
    order: 1;
    flex: 100%
  }
  .App-logo{
    order: 2;
    flex: 20%;

  }
  .FeatProj{
    order: 3;
  } .FeatJob{
    order: 4;
  } .ContactMe{
    order: 5}
    .Facts{
      order: 6}
      .made{
        order: 7;
        flex: 20%;
      }
}
@media (max-width: 369px){
  h2.App-title{
    line-height:80%;
  }
  header.App-header{
    height:300px
  }
}
.App-title{
  line-height: .25;
}
.codingLang{
  background-color: #6499da;
    text-align: left;
    padding-left:40%;
  }
  
.codingLang body {
  display: flex;
  flex-direction: column;
}
.codingLang h1 {
  color: #333;
  font-family: tahoma;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1.5;
  /* text-transform: uppercase;
  white-space: nowrap; */
  overflow: hidden;
  position: relative;
  width: 100%;
}

span{
  display: center;
}

.message {
  background-color: rgba(255, 255, 0, 0.618);
  color: #333;
  display: inline;
  text-align: center;
  overflow: hidden;
  position: absolute;
  width:100%;
  animation: openclose 50s ease-in-out infinite;
}
@media (max-width: 400px){
  h1.App-title{
    line-height:80%;
  }
 
  .codingLang h1 {
    color: #333;
    font-family: tahoma;
    font-size: 3rem;
    font-weight: 100;
    line-height: 1.5;
    overflow: hidden;
    position: relative;
    width: 100%;
  }
  .message {
    background-color: rgba(255, 255, 0, 0.618);
    color: #333;
    display: block;
    overflow: hidden;
    position: absolute;
    width:100%;
    animation: openclose 50s ease-in-out infinite;
  }

  .codingLang{
    background-color: #6499da;
      text-align: left;
      padding-left:10%;
    }
    div.Facts{
      padding:0px
    }
    .FeatProj, .FeatJob{
      padding:0px
    }
  }

.App {
    text-align: center;
    align-items: center;
    justify-content: center;
    
  }
 
  .App-logo {
    padding: 20px;
    padding-bottom: 0px;
    width: 20%
  }
  
  .App-header {
    background-color: #0c2036;
    height:200px;
    padding: 20px;
    padding-bottom: 0px;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  }

  
  .App-intro {
    font-size: large;
  }
  


* .word {
  font-family: tahoma;
}

@keyframes openclose {
  0% {
    width: 0;
  }
  5% {
    width: 0;
  }

  7% {
    width: 285px;
  }
  12% {
    top: 0.2rem;
    width: 285px;
  }
  15% {
    top: 0.2rem;
    width: 0;
  }
 17% {
    top: 0.2rem;
    width: 0;
  }

  20% {
    top: -4.5rem;
  }
  25% {
    top: -4.5rem;
    width: 285px;
  }
  28% {
    top: -4.5rem;
    width: 285px;
  }
  30% {
    top: -4.5rem;
    width: 0;
    text-indent: 0;
  }

  33% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }
  38% {
    top: -9rem;
    width: 285px;
  }
  41% {
    top: -9rem;
    width: 285px;
  }
  43% {
    top: -9rem;
    width: 0;
    text-indent: 5px;
  }

  46% {
    top: -13.5rem;
    width: 0;
    text-indent: 5px;
  }
  51% {
    top: -13.5rem;
    width: 285px;
  }
  54% {
    top: -13.5rem;
    width: 285px;
  }
  56% {
    top: -13.5rem;
    width: 0;
    text-indent: 5px;
  }

  59% {
    top: -18rem;
    width: 0;
    text-indent: 5px;
  }
  64% {
    top: -18rem;
    width: 285px;
  }
  67% {
    top: -18rem;
    width: 285px;
  }
  69% {
    top: -18rem;
    width: 0;
    text-indent: 5px;
  }

  72% {
    top: -22.5rem;
  }
  77% {
    top: -22.5rem;
    width: 285px;
  }
  80% {
    top: -22.5rem;
    width: 285px;
  }
  82% {
    top: -22.5rem;
    width: 0;
    text-indent: 0;
  }

  85% {
    top: -27rem;
  }
  90% {
    top: -27rem;
    width: 285px;
  }
  93% {
    top: -27rem;
    width: 285px;
  }
  95% {
    top: -27rem;
    width: 0;
    text-indent: 0;
  }

  100% {
    top: 0;
    width: 0;
    text-indent: 0;
  }
}

.MainBody {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
}

.AboutMe {
  background-color: #226ec0;
  margin:20px;
  height:fit-content;
  padding: 20px;
  width: 60%;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
}


.FeatProj, .FeatJob {
  background-color: #0658b0;
  margin:20px;
  padding: 10px;
  width: 25%; 
  align-items: center;
  text-align: center; 
  justify-content: center;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  /* height:30% */
}

.Facts{
  background-color: #226ec0;
  padding: 10px;
  margin:20px;
  width: 100%; 
  height:fit-content;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
}


.ContactMe{
  background-color: #6499da;
  padding: 10px;
  text-align: center;
  width: 30%;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  
}


input[type="radio"] {
  position: absolute;
  width: 1px; /* Setting this to 0 make it invisible for VoiceOver */
  height: 1px; /* Setting this to 0 make it invisible for VoiceOver */
  padding: 0;
  margin: -1px;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  }
  .container label{
    display:block;
    width:20%;
    border: 4px solid white;
    position:absolute;
    bottom:5px;
    transition: border-color 0.3s linear;
  }
  
  label.second{
    left:34%;
  }
  label.third{
    left:68%;
  }
  
  blockquote{
    margin:02;
    padding:30px;
    background-color: #6ce3ed;
    color: #0c2036;
    box-shadow: 0 5px 2px rgba(0,0,0,0.1);
    transition: background-color 0.6s linear ;
  }
  
  .two blockquote:after{
    border: solid transparent; 
    border-top-color: purple;
    border-left-color:purple;
    border-width: 10px;
  }
  
  .three blockquote:after{
    border: solid transparent; 
    border-top-color: #54885F;
    border-left-color: #54885F;
    border-width: 10px;
  }
  .quotes{
    position:absolute;
    align-items: center;
    color:rgba(255,255,255,0.5);
    font-size:5em;
  }

  img{
    float:left;
    margin-right: 20px;
  }
  .slide{
    position:absolute;
    margin:auto;
    left:-100%;
    opacity:0;
    transition: all 0.6s ease-in;
  }
  
  #first:checked ~ label.first {
    border-width:6px;
    border-color:#DB532B;
  }
  #second:checked ~ label.second {
    border-width:6px; border-color:purple;
  }
  #third:checked ~ label.third {
    border:6px solid #54885F;
  }
  
  #first:checked ~ div.one {
    left:0;
    opacity:1;
  }
  #second:checked ~ div.two {
    left:0;
    opacity:1;
  }
  #third:checked ~ div.three {
    left:0;
    opacity:1;
  }

  a{
    color:#ccc;
  }
  .container{
    width:500px;
    min-height:315px;
    margin:0 auto;
    position:relative;
    overflow:hidden;
  }
  .Factbox{
    display: flex;
    direction: column;
  }
  .slide h3{
    line-height: .25;
  }
  input{
    width: 50%
  }
  textarea{
    width: 75%
  }

  .made{
    margin:20px;
    background-color: #0c2036;
    height:fit-content;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
    box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  }
  
  .switch {
    position: absolute;
    display: block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
 
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 40s, opacity 20s linear;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
  
  .hidden {
    display:none
}


/* funapp */

.FunBody {
  background-color: peru;
  color: black;
}
.funbox{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  flex-basis: 0;
  align-items: center;
  justify-content: center;
}
.temp{
  border-radius: 50%;
  background-color: #ab65ad;
  margin:20px;
  height: fit-content;
  width:height;
  padding: 20px;
  width: 15%;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
}
@keyframes intrro {
  from {background-color: #54c60e}
  to {background-color: #e9056f}
}
.Intro {
  border-radius: 50%;
  background-color: #54c60e;
  margin:20px;
  padding: 20px;
  height: fit-content;
  width: 28%;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  animation-name: intrro;
  animation-duration:15s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}
.made{
  margin:20px;
  background-color: #0c2036;
  color:white;
  height:fit-content;
  align-items: center;
  justify-content: center;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
}
@keyframes funpro {
  from {background-color: #bdbeff}
  to {background-color: #3d00ad}
}
.FunProj{
  border-radius: 50%;
  width: 100px;
  height: 100px;
  background-color: #bdbeff;
  margin:20px;
  padding: 10px;
  height: fit-content;
  width:height;
  align-items: center;
  text-align: center; 
  justify-content: center;
  animation-name: funpro;
  animation-duration:10s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  -webkit-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  -moz-box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
  box-shadow: 0px 7px 10px 0px rgba(51,81,106,1);
}
body{
  background-position: center 330px; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 50%; 
}

.space{
  width: 100px;
  height: 100px;
}

.space1{
  width: 43%
}
.space2{
  width: 43%
}

.App-togo {
  padding: 20px;
  padding-bottom: 0px;
  width: 20%;
  border-radius: 50%;
  opacity:.5
}
